@model IPagedList<Movie>

<div id="moviesList">
    <div class="pagedList" data-cp-target="#moviesList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),PagedListRenderOptions.MinimalWithItemCountText)
    </div>
    @foreach (var movie in Model)
    {
        <div>
            <h4>
                @Html.ActionLink(movie.Name, "Details", "Movie", new {movie.Id },null)
            </h4>
            <div>
                @movie.Year
            </div>
            <hr />
        </div>
    }
</div>
