@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Cinema Paradiso is an walkthrough ASP .NET MVC4 projecct
    </p>

</article>

<aside>
    <h3>Source Files</h3>
    <p>
       Source files of this project is available at
    </p>
    <ul>
        <li><a href="https://github.com/shawpan/aspdotnetmvc4">Cinema Paradiso Github</a></li>
    </ul>
</aside>